@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Proyecto Biblioteca</h1>
   
</div>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Team Members</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Roberto Francisco Marroquín Osorio 030721</li>
                        <li class="list-group-item">Ariel Enoc Carbajal Amaya 036821 </li>
                        <li class="list-group-item">Ariel Ovidio Pérez Díaz 184721</li>
                        <li class="list-group-item">Rene Armando Sánchez Platero 026521</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
